# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  # - osx
julia:
  - 1.0
  - 1.1
  - 1.2
  - 1.3
  - nightly

matrix:
 allow_failures:
 - julia: nightly

notifications:
  email: false

before_script:
    - julia -e 'using Pkg; Pkg.add(PackageSpec(url="https://github.com/JuliaOpt/MutableArithmetics.jl", rev="master"))'
    - julia -e 'using Pkg; Pkg.add(PackageSpec(url="https://github.com/JuliaAlgebra/MultivariatePolynomials.jl", rev="bl/mutable_arithmetics"))'

after_success:
  # push coverage results to Coveralls
  - julia -e 'cd(Pkg.dir("DynamicPolynomials")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
  # push coverage results to Codecov
  - julia -e 'cd(Pkg.dir("DynamicPolynomials")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
